@keyframes snowflake-rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fallingSnow {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  50% {
    opacity: 1;
    transform: translateY(200px);
  }
  100% {
    opacity: 0;
    transform: translateY(400px);
  }
}
@keyframes message {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #141429;
  color: white;
  position: relative;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

section {
  position: relative;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar-wrapper {
  position: relative;
}
.sidebar-wrapper .conner {
  display: none;
  position: absolute;
  top: -31px;
  right: -5px;
  width: 55px;
  height: 55px;
  background-color: #D02B2B;
  clip-path: polygon(100% 0, 40% 0, 100% 60%);
}
.sidebar-wrapper .side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Risque", serif;
}
.sidebar-wrapper .side-bar .bg {
  transition: clip-path 550ms ease-in;
  clip-path: circle(30px at 88% 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #D02B2B;
}
.sidebar-wrapper .side-bar .bg .links {
  display: flex;
  flex-direction: column;
  gap: 38px;
  text-align: center;
}
.sidebar-wrapper .side-bar .bg .links a {
  transition: scale 150ms ease;
  text-decoration: none;
  font-size: 32px;
  line-height: 36.98px;
  color: white;
}
.sidebar-wrapper .side-bar .bg .links a:hover {
  scale: 1.1;
}
.sidebar-wrapper .side-bar .open-sidebar {
  clip-path: circle(130% at 90% 10%);
}
.sidebar-wrapper .side-bar .burger {
  transition: all 400ms ease-in-out;
  background-color: transparent;
  position: fixed;
  top: 42px;
  right: 34px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5.5px;
  align-items: center;
}
.sidebar-wrapper .side-bar .burger .line {
  transform-origin: center;
  transition: all 450ms ease-in-out;
  width: 34px;
  height: 3.67px;
  background-color: #fff;
}
.sidebar-wrapper .side-bar .is--open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.sidebar-wrapper .side-bar .is--open .line:nth-child(2) {
  opacity: 0;
}
.sidebar-wrapper .side-bar .is--open .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.nav {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 34px 26px 0 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  width: 198px;
  height: 65px;
}
.nav__navigation__list {
  display: none;
}

.container {
  position: relative;
  height: 100vh;
}
.container .first-section {
  padding: 0 31px;
  position: relative;
  background-image: url("../assets/santa.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 560px;
}
.container .first-section .message {
  position: absolute;
  bottom: 252px;
  right: 600px;
  border-radius: 50%;
  width: 222px;
  height: 166px;
  background-color: #fff;
  color: black;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 20.8px;
  font-family: "Risque", serif;
  box-shadow: 0 0 20px white;
  transition: all 500ms linear;
  transform: translateX(20px) translateY(-15px);
}
.container .first-section .message:after {
  position: absolute;
  top: 18px;
  right: -32px;
  transform: rotate(-28deg);
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 60px solid white;
}
.container .first-section .show-message {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
.container .first-section .main-title {
  width: 100%;
  z-index: 1;
  margin-top: 171px;
  font-family: "Risque", serif;
}
.container .first-section .main-title h1 {
  margin-bottom: 14px;
  font-size: 52px;
  line-height: 60.1px;
}
.container .first-section .main-title h3 {
  margin-bottom: 43px;
  font-size: 28px;
  line-height: 32.36px;
}
.container .first-section .main-title .button-wrapper {
  display: flex;
  justify-content: center;
}
.container .first-section .main-title .button-wrapper button {
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: 2px solid white;
  font-size: 16px;
  padding: 12px 40px;
  border-radius: 20px 20px 20px 0;
  color: white;
  line-height: 18.75px;
  cursor: pointer;
}
.container .second-section {
  padding: 94px 31px;
  position: relative;
  background-image: url("../assets/bg-3.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .second-section__content {
  font-family: "Risque", serif;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container .second-section__content--title {
  font-size: 32px;
  line-height: 60.1px;
}
.container .second-section__content--subtitle {
  font-size: 22px;
  line-height: 32.36px;
}
.container .second-section__content__presents {
  display: flex;
  gap: 24.43px;
}
.container .second-section__content__presents .present {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111.05px;
  height: 111.05px;
  border: 5px solid white;
  border-radius: 100%;
  cursor: pointer;
}
.container .second-section__content__presents .present__one {
  width: 51.64px;
  height: 89.95px;
}
.container .second-section__content__presents .present__two {
  width: 91.61px;
  height: 64.4px;
}
.container .second-section__content__presents .present__three {
  width: 70.52px;
  height: 74.4px;
}
.container .second-section__content__presents .active {
  background: transparent;
}
.container .second-section__present-description {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.container .second-section__present-description .wrapper {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.container .second-section__present-description__title {
  text-align: center;
  font-family: "Risque", serif;
  font-size: 32px;
  line-height: 48.54px;
}
.container .second-section__present-description__description {
  text-align: center;
  font-size: 18px;
  line-height: 32.81px;
}
.container .second-section__present-description__image img {
  width: 120px;
}
.container .third-section {
  padding: 133px 31px 10px;
  position: relative;
  background-image: url("../assets/bg-2.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 29px;
  flex-direction: column;
}
.container .third-section__title {
  font-family: "Risque", serif;
  margin-bottom: 24px;
  font-size: 52px;
}
.container .third-section__form {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}
.container .third-section__form .custom-input {
  display: flex;
  align-items: center;
  position: relative;
  border: 3px solid white;
  background-color: transparent;
  width: 100%;
  padding: 15px 17px 15px 22px;
  border-radius: 15px;
  height: 48px;
  z-index: 4;
}
.container .third-section__form .custom-input .wrapper-dropdown {
  transition: opacity 150ms ease-in;
  opacity: 0;
  visibility: hidden;
  color: black;
  border-radius: 0 0 15px 15px;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 16px 21px 20px;
}
.container .third-section__form .custom-input .wrapper-dropdown ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.container .third-section__form .custom-input .wrapper-dropdown ul li {
  cursor: pointer;
  color: #CECECE;
}
.container .third-section__form .custom-input .wrapper-dropdown ul li:hover {
  color: #D02B2B;
}
.container .third-section__form .custom-input__placeholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container .third-section__form .custom-input__placeholder .icon {
  width: 22px;
  height: 20px;
  transition: rotate 150ms ease-in;
}
.container .third-section__form .custom-input__placeholder .icon-rotate {
  rotate: -180deg;
}
.container .third-section__form .custom-input .active {
  opacity: 1;
  visibility: visible;
}
.container .third-section__form .input {
  color: white;
  width: 100%;
  height: 48px;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 15px;
  padding: 15px 22px;
}
.container .third-section__form textarea:focus, .container .third-section__form input:focus {
  outline: none;
}
.container .third-section__form input::placeholder {
  color: white;
  font-size: 16px;
  line-height: 18.75px;
}
.container .third-section__form .text-area {
  color: white;
  padding: 17px 9px;
  width: 100%;
  height: 76px;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 15px;
}
.container .third-section__form textarea::placeholder {
  color: white;
  font-size: 16px;
  line-height: 18.75px;
}
.container .third-section .checkbox__wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}
.container .third-section .checkbox__wrapper .checkbox_text {
  color: #D02B2B;
  font-size: 16px;
  cursor: pointer;
}
.container .third-section .checkbox__wrapper input[type=checkbox] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #D02B2B;
}
.container .third-section .checkbox__wrapper input[type=checkbox]:after {
  position: absolute;
  left: 4px;
  content: "";
  border: solid #D02B2B;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  display: none;
}
.container .third-section .checkbox__wrapper input[type=checkbox]:checked {
  background-color: #fff;
}
.container .third-section .checkbox__wrapper input[type=checkbox]:checked:after {
  display: flex;
}

.desktop-effects {
  display: none;
}

.snowflake {
  display: none;
}

@media (min-width: 640px) {
  section {
    scroll-snap-align: start;
    max-width: 1440px;
    width: 100%;
  }

  .sidebar-wrapper .conner {
    display: block;
    top: -45px;
    right: -28px;
  }
  .sidebar-wrapper .side-bar .bg {
    width: 643px;
    clip-path: circle(30px at 92% 8%);
  }
  .sidebar-wrapper .side-bar .open-sidebar {
    clip-path: circle(130% at 90% 10%);
  }
  .sidebar-wrapper .side-bar .burger {
    top: 50px;
    right: 35px;
    cursor: pointer;
  }

  .nav {
    position: fixed;
    padding: 43px 49px 0 49px;
    font-size: 16px;
    line-height: 18.75px;
  }
  .nav__navigation {
    align-items: center;
    display: flex;
    gap: 160px;
  }
  .nav__navigation__list {
    display: flex;
    gap: 60px;
    list-style-type: none;
  }
  .nav__navigation__list li {
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    transition: all 2s ease;
  }
  .nav__navigation__list li .roll {
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
  }
  .nav__navigation__list li .roll:hover {
    transform: translateY(-18px);
  }
  .nav__navigation__list li .roll__second {
    color: #D02B2B;
  }

  .container {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  .container .first-section {
    background-position: bottom right -95px;
    background-size: 1001px;
  }
  .container .first-section .main-title {
    margin-top: 253px;
    margin-left: 148px;
  }
  .container .first-section .main-title h1 {
    margin-bottom: 20px;
    font-size: 72px;
    line-height: 83.21px;
  }
  .container .first-section .main-title h3 {
    margin-bottom: 27px;
    font-size: 38px;
    line-height: 43.92px;
  }
  .container .first-section .main-title .button-wrapper {
    justify-content: start;
  }
  .container .second-section {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .container .second-section__content {
    flex-direction: column;
    gap: 30px;
  }
  .container .second-section__content--title {
    font-size: 56px;
    line-height: 64.72px;
  }
  .container .second-section__content--subtitle {
    font-size: 38px;
    line-height: 43.92px;
  }
  .container .second-section__content__presents {
    gap: 39.69px;
  }
  .container .second-section__content__presents .present {
    width: 149.78px;
    height: 149.78px;
  }
  .container .second-section__content__presents .present__one {
    width: 69.65px;
    height: 121.33px;
  }
  .container .second-section__content__presents .present__two {
    width: 123.57px;
    height: 93.62px;
  }
  .container .second-section__content__presents .present__three {
    width: 95.11px;
    height: 100.36px;
  }
  .container .second-section__content__presents .active {
    background: transparent;
  }
  .container .second-section__present-description {
    width: 553px;
    height: 405px;
    padding: 58px 38px 38px 35px;
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    border-radius: 20px;
  }
  .container .second-section__present-description .wrapper {
    width: 301px;
    display: flex;
    flex-direction: column;
    gap: 29px;
  }
  .container .second-section__present-description__title {
    text-align: start;
    font-size: 42px;
    line-height: 48.54px;
  }
  .container .second-section__present-description__description {
    text-align: start;
    font-size: 28px;
    line-height: 32.81px;
  }
  .container .second-section__present-description__image img {
    width: 148px;
  }
  .container .third-section {
    padding: 0;
  }
  .container .third-section__title {
    font-size: 56px;
    line-height: 64.72px;
  }
  .container .third-section--wrapper {
    margin-left: 71px;
  }
  .container .third-section__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 468px;
    column-gap: 28px;
    row-gap: 20px;
  }
  .container .third-section__form .input {
    width: 220px;
  }
  .container .third-section__form .text-area {
    color: white;
    padding: 17px 9px;
    width: 468px;
    height: 76px;
    border: 3px solid white;
    background-color: transparent;
    border-radius: 15px;
    grid-column: 1/3;
  }

  .desktop-effects {
    display: block;
  }

  .snowflake {
    position: fixed;
    display: block;
    width: 447px;
    height: 448px;
    left: -185px;
    bottom: 0;
    -webkit-animation: snowflake-rotate 35s normal linear infinite;
    animation: snowflake-rotate 35s normal linear infinite;
  }
}
.star {
  position: absolute;
  color: #FCF9BF;
  font-size: 10px;
  animation: flicker 2s linear infinite;
}

.star-1 {
  left: 97px;
  top: 197px;
  animation-delay: 0.6s;
}

.star-2 {
  left: 121px;
  top: 302px;
  font-size: 15px;
  animation-delay: 1s;
}

.star-3 {
  left: 90px;
  bottom: 278px;
  animation-delay: 2s;
}

.star-4 {
  left: 120px;
  bottom: 90px;
  animation-delay: 2s;
}

.star-5 {
  left: 200px;
  bottom: 250px;
  animation-delay: 5s;
}

.star-6 {
  left: 167px;
  top: 394px;
  animation-delay: 1.3s;
}

.star-7 {
  left: 225px;
  top: 253px;
  animation-delay: 0.7s;
}

.star-8 {
  left: 379px;
  top: 29px;
  animation-delay: 0.9s;
}

.star-9 {
  left: 389px;
  top: 144px;
  font-size: 15px;
  animation-delay: 1.1s;
}

.star-10 {
  left: 311px;
  top: 347px;
  animation-delay: 0.3s;
}

.star-11 {
  left: 389px;
  top: 330px;
  animation-delay: 0.7s;
}

.star-12 {
  left: 348px;
  top: 467px;
  animation-delay: 0.8s;
}

.star-13 {
  top: 571px;
  left: 282px;
  animation-delay: 2.5s;
}

.star-14 {
  top: 537px;
  left: 463px;
  animation-delay: 2.3s;
}

.star-15 {
  top: 390px;
  left: 483px;
  animation-delay: 4s;
}

.star-16 {
  top: 200px;
  left: 493px;
  font-size: 15px;
  animation-delay: 1s;
}

.star-17 {
  top: 84px;
  left: 500px;
  animation-delay: 2s;
}

.star-18 {
  top: 170px;
  left: 558px;
  font-size: 15px;
  animation-delay: 3.3s;
}

.star-19 {
  top: 75px;
  left: 631px;
  animation-delay: 1.7s;
}

.star-20 {
  top: 318px;
  left: 631px;
  animation-delay: 0.5s;
}

.star-21 {
  top: 350px;
  left: 800px;
  animation-delay: 0.1s;
}

.star-22 {
  top: 201px;
  left: 730px;
  animation-delay: 0.4s;
}

.star-23 {
  top: 265px;
  left: 831px;
  font-size: 15px;
  animation-delay: 3s;
}

.star-24 {
  bottom: 418px;
  left: 1160px;
  animation-delay: 2.1s;
}

.star-25 {
  top: 150px;
  left: 1200px;
  animation-delay: 2.4s;
}

.star-26 {
  top: 480px;
  left: 600px;
  animation-delay: 1.1s;
}

.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  animation: fallingSnow 7s linear infinite;
}

.snow-1 {
  top: 230px;
  left: 201px;
  animation-delay: 1s;
}

.snow-2 {
  top: 380px;
  left: 125px;
  animation-delay: 1.3s;
}

.snow-3 {
  bottom: 230px;
  left: 30px;
  animation-delay: 1.6s;
}

.snow-4 {
  bottom: 130px;
  left: 90px;
  animation-delay: 1.9s;
}

.snow-5 {
  bottom: 80px;
  left: 350px;
  animation-delay: 2.2s;
}

.snow-6 {
  top: 449px;
  left: 267px;
  animation-delay: 2.5s;
}

.snow-7 {
  top: 175px;
  left: 435px;
  animation-delay: 2.5s;
}

.snow-8 {
  top: 175px;
  left: 653px;
  animation-delay: 2.8s;
}

.snow-9 {
  top: 391px;
  left: 518px;
  animation-delay: 3.1s;
}

.snow-10 {
  top: 449px;
  left: 485px;
  animation-delay: 0.3s;
}

.snow-11 {
  top: 579px;
  left: 495px;
  animation-delay: 0.3s;
}

.snow-12 {
  top: 94px;
  left: 996px;
  animation-delay: 0.6s;
}

.snow-13 {
  top: 300px;
  left: 670px;
  animation-delay: 0.9s;
}

.snow-14 {
  top: 280px;
  left: 810px;
  animation-delay: 1.2s;
}

.snow-15 {
  top: 670px;
  left: 670px;
  animation-delay: 1.5s;
}

/*# sourceMappingURL=index.css.map */
