.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  animation: fallingSnow 7s linear infinite;
}

.snow-1 {
  top: 230px;
  left: 201px;
  animation-delay: 1s;
}

.snow-2 {
  top: 380px;
  left: 125px;
  animation-delay: 1.3s;
}

.snow-3 {
  bottom: 230px;
  left: 30px;
  animation-delay: 1.6s;
}

.snow-4 {
  bottom: 130px;
  left: 90px;
  animation-delay: 1.9s;
}

.snow-5 {
  bottom: 80px;
  left: 350px;
  animation-delay: 2.2s;
}

.snow-6 {
  top: 449px;
  left: 267px;
  animation-delay: 2.5s;
}

.snow-7 {
  top: 175px;
  left: 435px;
  animation-delay: 2.5s;
}

.snow-8 {
  top: 175px;
  left: 653px;
  animation-delay: 2.8s;
}

.snow-9 {
  top: 391px;
  left: 518px;
  animation-delay: 3.1s;
}

.snow-10 {
  top: 449px;
  left: 485px;
  animation-delay: 0.3s;
}

.snow-11 {
  top: 579px;
  left: 495px;
  animation-delay: 0.3s;
}

.snow-12 {
  top: 94px;
  left: 996px;
  animation-delay: 0.6s;
}

.snow-13 {
  top: 300px;
  left: 670px;
  animation-delay: 0.9s;
}

.snow-14 {
  top: 280px;
  left: 810px;
  animation-delay: 1.2s;
}

.snow-15 {
  top: 670px;
  left: 670px;
  animation-delay: 1.5s;
}



