.star {
  position: absolute;
  color: $star-color;
  font-size: 10px;
  animation: flicker 2s linear infinite;
}

.star-1 {
  left: 97px;
  top: 197px;
  animation-delay: 0.6s;
}

.star-2 {
  left: 121px;
  top: 302px;
  font-size: 15px;
  animation-delay: 1s;
}

.star-3 {
  left: 90px;
  bottom: 278px;
  animation-delay: 2s;
}

.star-4 {
  left: 120px;
  bottom: 90px;
  animation-delay: 2s;
}

.star-5 {
  left: 200px;
  bottom: 250px;
  animation-delay: 5s;
}

.star-6 {
  left: 167px;
  top: 394px;
  animation-delay: 1.3s;
}

.star-7 {
  left: 225px;
  top: 253px;
  animation-delay: 0.7s;
}

.star-8 {
  left: 379px;
  top: 29px;
  animation-delay: 0.9s;
}

.star-9 {
  left: 389px;
  top: 144px;
  font-size: 15px;
  animation-delay: 1.1s;
}

.star-10 {
  left: 311px;
  top: 347px;
  animation-delay: 0.3s;
}

.star-11 {
  left: 389px;
  top: 330px;
  animation-delay: 0.7s;
}

.star-12 {
  left: 348px;
  top: 467px;
  animation-delay: 0.8s;
}

.star-13 {
  top: 571px;
  left: 282px;
  animation-delay: 2.5s;
}

.star-14 {
  top: 537px;
  left: 463px;
  animation-delay: 2.3s;
}

.star-15 {
  top: 390px;
  left: 483px;
  animation-delay: 4s;
}

.star-16 {
  top: 200px;
  left: 493px;
  font-size: 15px;
  animation-delay: 1s;
}

.star-17 {
  top: 84px;
  left: 500px;
  animation-delay: 2s;
}

.star-18 {
  top: 170px;
  left: 558px;
  font-size: 15px;
  animation-delay: 3.3s;
}

.star-19 {
  top: 75px;
  left: 631px;
  animation-delay: 1.7s;
}

.star-20 {
  top: 318px;
  left: 631px;
  animation-delay: 0.5s;
}

.star-21 {
  top: 350px;
  left: 800px;
  animation-delay: 0.1s;
}

.star-22 {
  top: 201px;
  left: 730px;
  animation-delay: 0.4s;
}

.star-23 {
  top: 265px;
  left: 831px;
  font-size: 15px;
  animation-delay: 3s;
}

.star-24 {
  bottom: 418px;
  left: 1160px;
  animation-delay: 2.1s;
}

.star-25 {
  top: 150px;
  left: 1200px;
  animation-delay: 2.4s;
}

.star-26 {
  top: 480px;
  left: 600px;
  animation-delay: 1.1s;
}